# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtualenv / Entornos
.env
.venv
env/
venv/

# Configuración de IDEs
.vscode/
.idea/

# Archivos temporales
*.swp
*.swo
*.tmp
*.bak

# Datos locales
input/
output/
debug/

# Docker
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db
